.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter{
    font-size: 2rem;
    color: tomato;
    font-weight: bold;
}
.buttons{
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.loading, .loading span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading span{
    color: tomato;
    font-size: 2rem;
    margin: 10px;
}