.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter{
    font-size: 2rem;
    color: tomato;
    font-weight: bold;
}
.buttons{
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.loading, .loading span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading span{
    color: tomato;
    font-size: 2rem;
    margin: 10px;
}
.success{
  background-color: rgba(0,100,0, 100);
  color: white;
  padding: 0.5rem;
  margin: 10px;
}
.failure{
  background-color: rgba(100, 0, 0, 100);
  color: white;
  padding: 0.5rem;
  margin: 10px;
}
